* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  text-align: center;
  margin: 20px auto;
}

nav {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.nav-list {
  text-align: center;
  margin: 15px auto;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}
